.center-group-settings {
  margin-top: 60px;
}

.container {
  width: 400px;
  height: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}

.back-button {
  position: absolute;
  top:20px;
  left:20px;
}

.h4-settings-headers {
  color: #2b2c2c;
  padding-left:200px;
  margin-top:50px;
}

.h4-settings-leave-group {
  color: #2b2c2c;
  padding-left:200px;
  margin-top:20px;
}

.leave-group-description {
  padding-right: 270px;
}

.leave-group-btn {
  padding: 10px 50px;
  float:left;
  border-radius: 4px;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*margin: 4px 2px;*/
  cursor: pointer;
}

.leave-group-btn-div {
  padding-left: 200px;
  float: left;
}

/*.toggle-headers-enable {*/
/*  padding-right:40px;*/
/*}*/

/*.toggle-headers-disable {*/
/*  margin-right:430px;*/
/*}*/

.toggle-headers-enable {
  padding-right:90px;
}

.toggle-headers-disable {
  padding-left: 50px;
  /*margin-right:500px;*/
}

.toggle-div {
  margin-left: 170px;
}

.form-text-field {
  padding-left:30px;
  width:200px;
  /*float:left;*/
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

@media screen and (max-width: 770px) {
  .h4-settings-headers {
    padding-left:80px;
  }

  .h4-settings-leave-group {
    padding-left:160px;
  }

  .toggle-div {
    margin-top: 20px;
    margin-left: 70px;
  }

  .leave-group-description {
    padding-right: 0px;
    padding-left: 10px;
  }

  .leave-group-btn-div {
    padding-left: 140px;
  }
}
