.hci-full-height {
    height: 100vh;
}

.overall-background {
    background-color: #d3d6ed;
    background-image: linear-gradient(90deg, #d3d6ed 14%, #bbf5e9 61%, #8acee6 89%);

}

.hci-progress {
    width: 50%;
}

.hci-create-group {
    /*height: 90px;*/
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link {
    margin-left: 1px !important;
}

.vertical-scrollable {
    /*margin-left: 2px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.level-header {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 37px;
    text-shadow: 4px 4px 5px #6892ff;
    text-align: center;
}

.profile-points {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.profile-link {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    margin-top: 7px;
}

.group-button {
    /*padding: 15px 32px;*/
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    text-decoration: none;
    font-size: 16px;
    /*margin: 4px 2px;*/
    margin-left: 30px;
    margin-right: 15px;
    cursor: pointer;
    max-height: 80px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    font-family: Verdana, Geneva, sans-serif;

}

.group-button:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.19);
}



@media screen and (max-width: 1300px) {
    .level-header {
        font-size: 30px;
        margin-bottom: 5px;
    }
    .profile-points {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .profile-link {
        font-size: 1.6vh;
    }
}

@media screen and (max-width: 850px) {
    .level-header {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .profile-points {
        font-size: 9px;
        margin-bottom: 10px;
    }
    .profile-link {
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 650px) {
    .group-button {
        width: 102%;
        max-width: 102%;
        text-align: justify;
        font-size: 1.2vh;
        margin-left: 12px;
    }
    .level-header {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .profile-points {
        font-size: 1.3vh;
        margin-bottom: 10px;
    }
    .profile-link {
        font-size: 1.6vh;
    }
}