.hci-full-height {
    height: 100vh;
}

.hci-progress {
    width: 50%;
}

.color-top-manager{
    background-color: #d1f8ff;
}

.color-bottom-manager{
    background-color: #ffdfe4;
}

/*.manager-fixed-wrapper {*/
/*    width:550px;*/
/*}*/

.hci-create-group {
    height: 100px;
}

.manager-fixed {
    max-width:30%;
    min-width:10%;
    /*max-width:200px;*/
    /*min-width:100px;*/
    /*width:10%;*/
    padding-right: 20px;
    padding-left: 20px;
}

.display-fixed {
    /*max-width: 800px;*/
    min-width: 1200px;
    /*width:90%;*/
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
}

.level-header {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 35px;
    text-shadow: 4px 4px 5px #6892ff;
    text-align: center;
}

.profile-points {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.profile-link {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    text-align: center;
}

.group-button {
    padding: 15px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-height: 80px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    font-family: Verdana, Geneva, sans-serif;

}

.group-button:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15), 0 17px 50px 0 rgba(0,0,0,0.19);
}
