.hci-personal-progress-bar {
    width: 25%;
}

.hci-personal-progress-div {
    width: 25%;
}

.h4-style {
    font-family: Verdana, Geneva, sans-serif;
    color: #1d1d1d;
}


.h1-style {
    /*display: inline-block;*/
    /*margin-right: 80px;*/
}

.create-chore-btn-div-group {
    /*margin-left: 20px;*/
    /*margin-bottom: 10px;*/
    /*float: right;*/
    /*margin:auto;*/
    /*position: absolute;*/
    /*left: 400px;*/
    /*white-space: nowrap;*/
    margin: auto;
    padding-right: 300px;


    /*margin-right: 400px;*/
    /*padding-right: 500px;*/
    /*margin-top: 8px;*/
}

.create-chore-btn {
    width:350px;
}

/*.group-name-style {*/
/*    float: left;*/
/*    padding-left: 10px;*/
/*}*/


.group-settings-header-div {
    float: left;
}

.show-completed-toggle-group {
    position:absolute;
    white-space: nowrap;
    top:15px;
}

.log-out-btn {
    position: absolute;
    top:25px;
    right:14px;
}



@media screen and (max-width: 850px) {
    .chore-display-box {
        padding-top: 60px;
    }
}