.hci-personal-progress-bar {
    width: 25%;
}

.hci-personal-progress-div {
    width: 25%;
}

.h4-style {
    font-family: Verdana, Geneva, sans-serif;
    color: #1d1d1d;
    margin-top: 2px;
}



.create-chore-btn-div {
    /*margin-left: 20px;*/
    /*margin-bottom: 10px;*/
    float: left;
    margin-left: 100px;
    /*margin-top: 8px;*/


}

.create-chore-btn {
    width:350px;
}

.group-name-style {
    float: left;
}