.h4-style {
    font-family: Verdana, Geneva, sans-serif;
    color: #1d1d1d;
}



.create-chore-btn-div {
    /*margin-left: 20px;*/
    /*margin-bottom: 10px;*/
    float: right;
    margin-right: 400px;
    /*margin-top: 8px;*/
}

.create-chore-btn {
    width:350px;
}

.personal-chore-name-style {
    float: left;
    font-family: Verdana, Geneva, sans-serif;

}
