.h4-style {
    font-family: Verdana, Geneva, sans-serif;
    color: #1d1d1d;
}



.create-chore-btn-div-personal {
    /*margin-left: 20px;*/
    /*margin-bottom: 10px;*/
    /*float: right;*/
    /*margin-right: 500px;*/
    /*margin-top: 8px;*/
    margin: auto;
    padding-right: 300px;

}

/*.create-chore-btn {*/
/*    width:350px;*/
/*}*/

/*.personal-chore-name-style {*/
/*    float: left;*/
/*    padding-left: 10px;*/

/*}*/

.show-completed-toggle-personal {
    position:absolute;
    white-space: nowrap;
    top:10px;
}
