.center-signup {
    margin-top: 80px;
}

.container {
    width: 400px;
    height: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
}

.back-button {
    position: absolute;
    top:20px;
    left:20px;
}

.h4-settings-headers {
    color: #2b2c2c;
}

.form-headers {
    /*padding-left:200px;*/
    /*padding-right: 20px;*/
    float:left;
}

.form-email-field-signup {
    /*padding-left:20px;*/
    padding-right:150px;
    width:300px;
    white-space: nowrap;
    /*float:left;*/
}


.form-username-field-signup {
    /*padding-left:20px;*/
    margin-top: 30px;
    padding-right:50px;
    width:300px;
    white-space: nowrap;
    /*float:left;*/
}

.form-pass-field-signup {
    /*padding-left:20px;*/
    margin-top: 30px;
    white-space: nowrap;
    padding-right:50px;
    width:300px;
    /*float:left;*/
}

input[type=text] {
    width: 300px;
    /*padding: 12px 20px;*/
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-content: center;

}

input[type=password] {
    width: 300px;
    /*padding: 12px 20px;*/
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-content: center;
}

.label-box-pair-signup {
    margin-left: 420px;
}

@media screen and (max-width: 1000px) {
    .label-box-pair-signup {
        margin-left: 210px;
    }
}

@media screen and (max-width: 770px) {
    .label-box-pair-signup {
        margin-left: 100px;
    }

    .form-pass-field-signup {
        white-space: normal;
        text-align: justify;
    }
}